@using BeautyBooking.Data.Static;
@using BeautyBooking.Data.Enums;

@model IEnumerable<Service>

@{
    ViewData["Title"] = "Наші послуги";
}
<link rel="stylesheet" href="~/css/services_page_style.css">

<section class="content pt70">
        <div class="error-message center-align" style="display: none;"></div>

        <form action="" id="services_form" method="get" class="choose-item" data-gtm-form-interact-id="0">

            <span class="title center-align FuturaDemiC header-title">Наші послуги</span>
<div class="group-type">
    @foreach (var item in Model)
    {
         <div class="label-wrapper">
            <input type="checkbox" name="" value="60" class="service-duration hide">
            <label class="service-item" data-top="0">
                <input type="checkbox" data-is-package="0" data-id="" name=""
                   class="service-checkbox hide">
            <table class="select-type" style="margin-bottom: 40px;">
                <tbody>
                    <tr>
                        <td class="type-title">@Html.DisplayFor(modelItem => item.Name)</td>
                                    <td class="style-default service-duration">
                                        <input class="duration" disabled="" type="hidden" name="duration" value="">
                            @Html.DisplayFor(modelItem => item.Duration) хв.
                        </td>
                        <td class="style-default">
                            <div class="price-wrapper">
                                <span class="price" style="padding-right: 0">@Html.DisplayFor(modelItem => item.Price)</span> грн
                            </div>
                        </td>
                        <td class="service-actions-btns">
                           <a class="btn btn-outline-info" asp-action="Details" asp-route-id="@item.Id">Деталі</a>
                           @if (CurrentUser.User.Equals(UserRole.Admin))
                           {
                                <a class="btn btn-outline-info mt-2" asp-action="Delete" asp-route-id="@item.Id">Видалити</a>
                           } 
                        </td>
                    </tr>
                </tbody>
            </table>
            </label>
         </div>
    }
@if (CurrentUser.User.Equals(UserRole.Admin))
{
     <div class="label-wrapper add-btn-container">
    <a class="btn btn-outline-secondary btn-show-all btn-add-service" asp-action="Create">Додати нову послугу</a>
    </div>
}
else if (CurrentUser.User.Equals(UserRole.Client))
{
    <div class="wrap-button center-align cart">
            <div class="total">
                <div class="col-6">
                    <span>Загальний час</span>
                </div>
                <div class="col-6">
                    <span id="total-time">0</span>
                    <input type="hidden" name="total_time" value="">
                </div>
                <div class="col-6">
                    <span>Загальна сума</span>
                </div>
                <div class="col-6">
                    <span><span id="total-sum">0</span> грн</span>
                </div>
                        <a class="button button-next" onclick="saveCart()" asp-controller="Masters" asp-action="Index">Далі</a>
            </div>
               
        </div>
}
</div>
</form>
</section>

<script src='https://cdnjs.cloudflare.com/ajax/libs/jquery/2.1.3/jquery.min.js'></script>
<script src="~/js/services_page_script.js"></script>
<script src="~/js/cart_script.js"></script>
