@model Master;

@{
    ViewData["Title"] = "Про майстра";
}

<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/normalize/5.0.0/normalize.min.css">
<link rel='stylesheet' href='https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.2.0/css/font-awesome.min.css'>
<link rel="stylesheet" type="text/css"
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-alpha1/dist/css/bootstrap.min.css">
<link rel="stylesheet" type="text/css"
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-alpha1/dist/js/bootstrap.bundle.min.js">
<link rel="stylesheet" type="text/css" href="~/css/account_page_style.css">
<link rel="stylesheet" type="text/css" href="~/css/masters_page_style.css">

<div class="container rounded bg-white mt-5 mb-5">
    <div class="row">
        <div class="col-md-3 border-right">
            <div class="d-flex flex-column align-items-center text-center p-3 py-5">
                <img class="rounded-circle mt-5 profile-picture" width="150px"
                     src="~/img/360_F_97000908_wwH2goIihwrMoeV9QF3BW6HtpsVFaNVM.jpg">
                <span class="font-weight-bold">@Model.Surname @Model.Name</span>
                <p class="fieldset avatar">

                </p>
            </div>
        </div>
        <div class="col-md-5 border-right master-info">
            <div class="p-3 py-5">
                <div class="d-flex justify-content-between align-items-center mb-3">
                    <h4 class="text-right">Про майстра</h4>
                </div>
                <div class="row mt-2">
                    <div class="col-md-6">
                        <label asp-for="Name" class="labels">Ім'я</label><input asp-for="Name" type="text" class="form-control"
                                                                                placeholder="Ім'я" value="@Model.Surname" readonly>
                    </div>
                    <div class="col-md-6">
                        <label asp-for="Surname" class="labels">Прізвище</label><input asp-for="Surname" type="text"
                                                                                       class="form-control" value="@Model.Name" placeholder="Прізвище" readonly>
                    </div>
                </div>

                <div class="row mt-3">
                    <div class="col-md-12">
                        <label asp-for="Info" class="labels">Інформація про себе</label><textarea asp-for="Info" 
                                                                                       class="form-control" value="@Model.Info" readonly></textarea>
                    </div>
                    
                    <div class="col-md-12">
                        <label asp-for="Email" class="labels">Ел. пошта</label><input asp-for="Email" type="email"
                                                                                      class="form-control" placeholder="example@gmail.com" value="@Model.Email" readonly>
                    </div>
                </div>
                <div class="form-group btns-container">
                    <a class="free-time-btn" asp-action="FreeTimeDetails" asp-route-id="@Model.Id">Перейти до вільних годин майстра</a>
                    <a class="btn btn-outline-secondary btn-show-all" asp-action="Index">Всі майстри</a>
                </div>
            </div>
        </div>
    </div>
</div>
<script src='https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js'></script>