@using BeautyBooking.Data.Static;
@using BeautyBooking.Data.Enums;

@model IEnumerable<Master>

@{
    ViewData["Title"] = "Наші майстри";
}

<link rel="stylesheet" href="~/css/masters_page_style.css">

<div class="row">
    <div class="col-md-8 offset-md-2">
        <span class="title center-align FuturaDemiC header-title">Наші майстри</span>
        <table class="table">
            <thead>
                <tr class="text-left">
                    <th>@Html.DisplayNameFor(model => model.ProfilePhotoURL)</th>
                    <th>@Html.DisplayNameFor(model => model.Name)</th>
                    <th>@Html.DisplayNameFor(model => model.Info)</th>
                    <th></th>                   
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model)
                {
                    <tr>
                        <td class="align-middle">
                            <img class="rounded-circle" src="~/img/360_F_97000908_wwH2goIihwrMoeV9QF3BW6HtpsVFaNVM.jpg" alt="@item.Name" style="max-width: 150px" />
                        </td>
                        <td class="align-middle">
                            @Html.DisplayFor(modelItem => item.Name)
                        </td>
                        <td class="align-middle">
                            @Html.DisplayFor(modelItem => item.Info)
                        </td>
                            <td class="align-middle master-btns">
                           
                                <a class="btn btn-outline-info btn-choose-master" asp-action="FreeTimeDetails" asp-route-id="@item.Id">Обрати</a>
                                <a class="btn btn-outline-info btn-details" asp-action="Details" asp-route-id="@item.Id">Деталі</a>
                               
                                @if (CurrentUser.User.Equals(UserRole.Admin))
                                {
                                    <a class="btn btn-outline-info mt-2" asp-action="Delete" asp-route-id="@item.Id">Видалити</a>
                                }
                            </td>
                    </tr>
                }
            </tbody>
        </table>
        @if (CurrentUser.User.Equals(UserRole.Admin))
        {
            <div class="label-wrapper add-btn-container">
                <a class="btn btn-outline-secondary btn-show-all btn-add-master" asp-action="Create">Додати майстра</a>
            </div>
        }
    </div>
</div>
<script src='https://cdnjs.cloudflare.com/ajax/libs/jquery/2.1.3/jquery.min.js'></script>
<script src="~/js/cart_script.js"></script>