@using BeautyBooking.Data.Static;
@using BeautyBooking.Data.Enums;
@using BeautyBooking.Data.ViewModels;

@model IEnumerable<RecordVM>

@{
    ViewData["Title"] = "Записи";
}

<link rel="stylesheet" href="~/css/masters_page_style.css">

<div class="row">
    <div class="col-md-8 offset-md-2">
        <span class="title center-align FuturaDemiC header-title">Всі записи</span>
        <table class="table">
            <thead>
                <tr class="text-left">
                    <th>Дата і час</th>
                    <th>Клієнт</th>
                    @if (CurrentUser.User.Equals(UserRole.Admin))
                    {
                        <th>Майстер</th>
                    }                   
                    <th>Статус</th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model)
                {
                    <tr>
                        <td class="align-middle">
                           @Html.DisplayFor(modelItem => item.DateAndTime)
                        </td>
                        <td class="align-middle">
                            @Html.DisplayFor(modelItem => item.ClientSurname) @Html.DisplayFor(modelItem => item.ClientName)
                        </td>
                        @if (CurrentUser.User.Equals(UserRole.Admin))
                        {
                            <td class="align-middle">
                                @Html.DisplayFor(modelItem => item.MasterSurname) @Html.DisplayFor(modelItem => item.MasterName)
                            </td>
                        }
                                @switch (item.Status)
                                {
                                    case Status.NotConfirmed:
                                        <td class="align-middle">Не підтверджено</td>
                                    break;
                                    case  Status.Confirmed:
                                        <td class="align-middle">Підтверджено</td>
                                    break;
                                    case Status.Canceled:
                                        <td class="align-middle">Скасовано</td>
                                    break;
                                    default:
                                        <td class="align-middle">Виконано</td>
                                    break;
                                }                        
                                @if (CurrentUser.User.Equals(UserRole.Admin))
                                {
                                    <td>
                                    <a class="btn btn-outline-info mt-2" asp-action="Edit" asp-route-recordId="@item.Id">Редагувати</a>
                                    </td>
                                }
                                else
                                {
                                    <td>
                                        <a class="btn btn-outline-info mt-2" asp-action="Edit" asp-route-recordId="@item.Id">Деталі</a>
                                    </td>
                                }
                    </tr>
                }
            </tbody>
        </table>
    </div>
</div>
<script src='https://cdnjs.cloudflare.com/ajax/libs/jquery/2.1.3/jquery.min.js'></script>
<script src="~/js/cart_script.js"></script>