@using BeautyBooking.Data.ViewModels;

@model EditFreeTimeVM;

@{
    ViewData["Title"] = "Редагування вільних годин майстра";
}

<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/normalize/5.0.0/normalize.min.css">
<link rel='stylesheet' href='https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.2.0/css/font-awesome.min.css'>
<link rel="stylesheet" type="text/css"
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-alpha1/dist/css/bootstrap.min.css">
<link rel="stylesheet" type="text/css"
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-alpha1/dist/js/bootstrap.bundle.min.js">
<link rel="stylesheet" type="text/css" href="~/css/account_page_style.css">
<link rel="stylesheet" type="text/css" href="~/css/masters_page_style.css">
<link rel="stylesheet" type="text/css" href="~/css/masters_freetime_page_style.css">

<div class="container rounded bg-white mt-5 mb-5">
    <div class="row">
        <div class="col-md-3 border-right">
            <div class="d-flex flex-column align-items-center text-center p-3 py-5">
                <img class="rounded-circle mt-5 profile-picture" width="150px"
                     src="~/img/360_F_97000908_wwH2goIihwrMoeV9QF3BW6HtpsVFaNVM.jpg">
                <span class="font-weight-bold">@Model.Surname @Model.Name</span>
                <p class="fieldset avatar">

                </p>
            </div>
        </div>
        <div class="col-md-5 border-right master-info">
            <div class="p-3 py-5">
                <div class="d-flex justify-content-between align-items-center mb-3">
                    <h4 class="text-right">Вільні години майстра</h4>
                </div>
                <form class="form" asp-action="Edit" asp-route-id="@Model.Id">
                    <label for="birthdaytime">Оберіть вільну годину для редагування</label><br />

                    <input type="hidden" asp-for="Id" />
                    <input type="hidden" asp-for="ProfilePhotoURL" />
                    <input type="hidden" asp-for="Surname" />
                    <input type="hidden" asp-for="Name" />
                    <input type="hidden" asp-for="MastersFreeTime" />
                     <input type="hidden" id="selectedFreeTimeId" name="FreeTimeId" value="" />

                    <select id="freeTimeDropdown" class="mt-2 mb-2"></select>
                    <button type="submit" class="btn btn-danger delete-btn" asp-action="Delete">Видалити</button><br />
                    <label for="NewDateAndTime">Введіть нову дату та час</label><br />
                    <input class="dateTimePicker" type="datetime-local" name="NewDateAndTime" value="" asp-for="NewDateAndTime">
                    <p class="fieldset add-btns">
                        <a class="btn btn-outline-secondary cancel-btn" asp-controller="Masters" asp-action="FreeTimeDetails" asp-route-id="@Model.Id">Скасувати</a>
                        <input type="submit" class="btn btn-outline-info add-btn" asp-action="Edit" value="Зберегти">
                    </p>
                </form>
            </div>
        </div>
    </div>
</div>
<script src="https://code.jquery.com/jquery-3.6.4.min.js"></script>
<script>
    var items = @Html.Raw(Json.Serialize(@Model.MastersFreeTime));

    var dropdown = $("#freeTimeDropdown");
    if(items.length > 0){
        $("#selectedFreeTimeId").val(items[0].id);
    }
    $.each(items, function (index, item) {
        var dateTime = new Date(item.dateAndTime);

var formattedDate = ('0' + dateTime.getDate()).slice(-2) + '.' +
                    ('0' + (dateTime.getMonth() + 1)).slice(-2) + '.' +
                    dateTime.getFullYear() + ' ' +
                    ('0' + dateTime.getHours()).slice(-2) + ':' +
                    ('0' + dateTime.getMinutes()).slice(-2);
        alert(formattedDate);
        dropdown.append($('<option asp-for="FreeTimeId">').text(formattedDate).val(item.id));
    });

    $("#freeTimeDropdown").on("change", function() {
    var selectedFreeTimeId = $(this).val();
    $("#selectedFreeTimeId").val(selectedFreeTimeId);
});
</script>